
@media screen and (min-width: 320px) {
	.user_name {
		font-size: 23px;
		font-weight: 700;
		text-align: center;
	}

	#timer {
		text-align: center;
		font-size: 16px;
	}

	.info-box-icon i {
		font-size: 65px;
		padding-top: 5px;
	}

	.info-btn i {
		font-size: 40px;
	}

	.content-header, .sidebar-menu {
		padding-top: 60px;
	}

	.panel-text-title {
		font-size: 15px;
	}

	.sched_time {
		font-size: 15px;
	}

	.sidebar-toggle {
		font-size: 30px;
		text-align: right;
	}

	 .main-sidebar {
	 	padding-top: 120px;
	 }

	 .appointment_btn {
		float: left;
	}

	.image img {
		display: block;
		margin: 0 auto;
	}

	.info {
		text-align: center;
	}

	.input-access input{
		width: 168px !important;
	}

	.input-access {
		width:100%; 
		margin:auto;	
	}



	

}

@media screen and (min-width: 360px) {
	.input-access input{
		width: 110px !important;
	}

	.input-access {
		width:50%; 
		margin:auto;	
	}
}

@media screen and (min-width: 480px) {
	.image {
		float: left;
	}

	.info {
		text-align: left;
	}

		.input-access input{
		width: auto !important;
	}
	
}

@media screen and (min-width: 600px) {
.appointment_btn {
		float: right;
	}
}

@media screen and (min-width: 768px) {
	.info-box-text-mobile {
		display: none;
	}

	.sidebar-toggle {
    font-size: 14px;
	}

	.main-sidebar {
    	padding-top: 50px;
	}

	.hidden-tab {
		display: none;
	}


	

}

@media screen and (min-width: 800px) {
	.info-box-icon i {
    	font-size: 60px;
	}

	}

@media screen and (min-width: 1024px) {
	.main-sidebar {
    	padding-top: 50px;
	}

		.input-access input{
		width: 265px !important;
	}

		.hidden-tab {
		display: block;
	}

}

@media screen and (min-width: 1200px) {

	.input-access input{
		width: 405px !important;
	}

	.info-box-text-nonum {
		font-size: 20px;
	}

	.content-wrapper {
		padding-left: 35px;
		padding-right: 35px;
	}

	.user_name {
		font-size: 30px;
		text-align: left;
	}

	#timer {
		text-align: right;
	}

	.sidebar-toggle {
		font-size: 14px;
		text-align: right;
	}

	.content-header, .sidebar-menu {
		padding-top: 20px;
	}

	.main-header #navbar-search-input.form-control {
		width: 300px;
	}

	.main-sidebar {
    padding-top: 50px;
	}

	#timer {
		font-size: 20px;
	}

	
	.appointment_btn {
		float: right;
	}


}

