.fa-angle-up {
    color: #1A1D22!important
}

.section_subtitle {
    font-weight: 300;

}

.agreement-wrap a:hover, .agreement-active a:hover, .agreement-wrap a:focus {
    color: #FFE400 !important;
    text-decoration: none;
}

.white {
    color: white;
}


.scroll img {
    margin: 20px;
}

.scrolltop {
    display:none;
    width:100%;
    margin:0 auto;
    position:fixed;
    bottom:20px;
    right:10px; 
    z-index: 9999;
    color: white;
    transition: 0.3 all ease;
}
.scroll {
    position:absolute;
    right:20px;
    bottom:40px;
    background:#0B95DE;
    background:rgba(,178178,178,0.7);
    text-align: center;
    margin: 0 0 0 0;
    cursor:pointer;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;        
}

.scroll:hover {
    background-color: #FFC804;
    color: white;
}


.blue {
    color: #0B95DE;
    font-weight: 700;
}
.yellow {
    color: #FFE400;
}

.typo {
    font-weight: 300;
}
.features_list li {
    display: table
}

.img-wrapper img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.features_list li p,
.features_list li span {
    vertical-align: middle;
    display: table-cell
}

.bounceInRight {
    padding-top: 10px
}

.vid-wrapper {
	min-height: 470px !important;
}

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto; 
}

.ag-intro {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    line-height: 25px;
}

.ag-content {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    line-height: 25px;
    padding-left: 20px;
}

.ag-list {
    padding-left: 60px;
}

.ag-list-content {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    line-height: 25px;
    font-size: 17px;
}

.ag-wrap {
    padding-left: 20px;
    padding-right : 20px;
}

.ag-section-title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 19px;
}

.ag-section-title .fa {
    color : #0B95DE;
}


@media (min-width:320px) {
    .typo {
        font-size: 20px;
    }

    .right_single_feature, .left_single_feature {
        margin-bottom: 0px;
        margin-top: 0px;
    }

    .section_title p {
        font-size: 18px;
    }

    

    .typo {
        padding-top: 20px;
    
    }

    .available_title,
    .header-class,
    .header-class:after {
        text-align: center
    }
    .bg-content-header:after,
    .header-class:after,
    .home-iphone {
        display: none
    }
    .scroll_top a {
        padding: 15px
    }
    .subtext {
        font-size: 12px
    }
    .left_single_feature h3,
    .right_single_feature h3 {
        font-size: 18px
    }
    .dental-home-container {
        padding-top: 50px
    }
    #CONTACT section,
    #FEATURES section,
    .section_title {
        padding-top: 20px;
        padding-bottom: 30px;
    }
    #bs-example-navbar-collapse-1,
    .container>.navbar-mobile {
        background: linear-gradient(#196EEE, #155bc4);
        opacity: 0.98;
    }
    .navbar-default .navbar-nav>li>a {
        color: #fff!important
    }
    .single_store i {
        font-size: 30px
    }
    .store_inner {
        bottom: 8px
    }
    .single_store {
        min-height: 50px
    }
    .section_title {
        padding-bottom: 10px
    }
    .logo {
        padding-bottom: 5px
    }
    .custom-icon {
        font-size: 20px!important;
        position: absolute;
        top: -30px;
        left: 75px
    }
    .home_text h1 {
        font-size: 30px
    }
    .submit-btn,
    .submit-btn:active,
    .submit-btn:focus,
    .submit-btn:visited {
        font-size: 16px
    }
    .bg-content-feature ul>li>p {
        font-size: 14px;
        padding-left: 5px
    }
    .bg-content-feature ul>li>span {
        font-size: 30px
    }
    .bg-content-feature ul>li {
        padding-top: 10px;
        padding-bottom: 10px;
        line-height: 20px
    }
}

@media (min-width:480px) {
    .browseradimg a img {
        display: block;
        margin: auto
    }
    .custom-icon {
        position: relative;
        top: -40px;
        left: 60px
    }
    .left_single_feature h3,
    .right_single_feature h3 {
        font-size: 16px
    }
    .features_list {
        margin: auto
    }
}

@media (min-width:600px) {
    .bg-content-tab,
    .browseradimg img a,
    .logo img {
        margin: auto
    }
    .appstoreadimg a img,
    .googleplayadimg a img {
        display: block;
        margin: auto
    }
    .lesspaddingleft,
    .lesspaddingright {
        padding: auto!important
    }
    .left_single_feature h3,
    .right_single_feature h3 {
        font-size: 18px
    }
    .bg-content-tab {
        width: 500px
    }
    .features_list {
        padding-left: 20%;
        padding-right: 20%
    }
}

@media (min-width:768px) {
    .home_text,
    .nav-mobile {
        text-align: center
    }
    .features_list {
        padding-left: 15px;
        padding-right: 15px
    }
    .logo img {
        margin: 0
    }
    .nav-mobile {
        margin: auto;
        width: 100%
    }
    .custom-icon {
        top: 0;
        left: 0
    }
    .dental-home-container {
        padding-top: 200px
    }
    .bg-content-tab {
        width: 300px;
        margin: auto
    }
    .header-class {
        text-align: left
    }
    .padding-top-responsive {
        padding-top: 180px!important
    }
    .header-class:after {
        display: block;
        text-align: left;
        width: 40%
    }
}

@media (min-width:800px) {
    .dental-home-container {
        padding-top: 200px
    }
    .collapse {
        text-align: center
    }
    .navbar-nav>li>a {
        padding-top: 0
    }
    .header-class {
        text-align: left
    }
}

@media (min-width:1024px) {
    .header-class,
    .home_text {
        text-align: left
    }
    .home-iphone {
        display: block
    }
    .home-iphone img {
        position: absolute;
        left: 35px;
        top: 116px
    }
    .bg-content-tab {
        width: 400px;
        margin: auto
    }
    .header-class:after {
        width: 30%
    }
}

@media (min-width:1200px) {

    .typo {
        font-size: 25px;
    }
   
     .right_single_feature, .left_single_feature {
        margin-bottom: 65px;
        margin-top: 35px;
    }

     .section_title p {
        font-size: 22px;
    }

    .typo {
        padding-top: 0px;
       
    }

    .available_title,
    .header-class {
        text-align: left
    }
    .navbar-nav>li>a {
        padding-top: 45px!important
    }
    .home-iphone img {
        left: 110px;
        top: 64px
    }
    .nav-mobile {
        width: auto
    }

    .logo {
        float: left
    }
    .submit-btn,
    .submit-btn:active,
    .submit-btn:focus,
    .submit-btn:visited {
        font-size: 18px
    }
    .home_text h1 {
        font-size: 37px
    }
    .feature_inner {
        padding-top: 30px;
        padding-bottom: 70px
    }
    .section_title {
        padding-top: 20px;
        padding-bottom: 10px
    }
    .subtext {
        font-size: 14px
    }
    .left_single_feature h3,
    .right_single_feature h3 {
        font-size: 25px
    }
    .dental-home-container {
        padding-top: 130px;
        padding-bottom: 50px
    }
    .single-store {
        min-height: 230px
    }
    .single_store i {
        font-size: 40px;
        margin-top: 30px
    }
    .store_inner {
        bottom: 20px
    }
    .custom-icon {
        font-size: 25px!important;
        position: relative;
        top: 0;
        left: 0
    }
    .contact_form .form-control {
        height: 50px
    }
    .scroll_top a {
        padding: 25px
    }
    .copy_right_text p {
        font-size: 15px
    }
    .bg-content-feature ul>li>p {
        font-size: 20px;
        margin-top: -14px;
        margin-left: 30px;
        padding-left: 0
    }
    .bg-content-header:after {
        display: block;
        width: 10%
    }
    .header-class {
        width: 12%
    }
    .bg-content-feature ul>li>span {
        font-size: 40px
    }
    .bg-content-tab {
        width: 400px;
        margin-top: 30px;
        float: right
    }
    .bg-content-feature ul>li {
        line-height: 70px
    }
    .header-class:after {
        width: 180%
    }
}