@media (max-width:767px) {
    .about_phone,
    .iphone,
    .video-button {
        text-align: center
    }
    .single_store {
        border-left: 0
    }
    .last {
        border-right: 0
    }
    .iphone {
        float: none
    }
    .video {
        padding-top: 50px
    }
    .call_to_action .col-md-3 {
        text-align: center;
        padding-top: 50px
    }
    .single_fun_facts {
        padding-bottom: 60px
    }
    .about_phone img {
        width: 100%
    }

    .dental-avp { 
        width: 100%;
        height: 100%;    
    }

}

@media (min-width:760px) {
    .about_phone,
    .iphone,
    .video-button {
        text-align: center
    }
    .single_store {
        border-left: 0
    }
    .last {
        border-right: 0
    }
    .iphone {
        float: none
    }
    .call_to_action .col-md-3 {
        text-align: center;
        padding-top: 50px
    }
    .single_fun_facts {
        padding-bottom: 60px
    }
    .video {
        padding-top: 50px
    }
}

@media (min-width:992px) {
    .last {
        border-right: 1px solid #0F1217
    }
    .single_store {
       border-left: 1px solid #0F1217;
        border-right: 1px solid #0F1217;
    }
    .iphone {
        float: right
    }
    .video-button {
        text-align: left
    }
    .call_to_action .col-md-3 {
        text-align: right;
        padding-top: 0
    }
    .single_fun_facts {
        padding-bottom: 0
    }
    .video {
        padding-top: 00px
    }
}

@media (min-width:1200px) {
    .last {
        border-right: 1px solid #0F1217
    }
    .single_store {
        border-left: 1px solid #0F1217;
        border-right: 1px solid #0F1217;
    }

    .dental-avp {
        width: 550px;
        height: 350px;
    }



    .iphone {
        float: right
    }
    .video-button {
        text-align: left
    }
    .call_to_action .col-md-3 {
        text-align: right;
        padding-top: 0
    }
    .video {
        padding-top: 0
    }
}